set disable(REQNEW1)        0
set disable(REQNEW2)        0
set disable(REQDEL)         0
set disable(REQWIPE)        0
set disable(REQFILL)        0
set chanlist(REQNEW1)       "#YourChan"
set chanlist(REQNEW2)       "#YourChan"
set chanlist(REQDEL)        "#YourChan"
set chanlist(REQWIPE)       "#YourChan"
set chanlist(REQFILL)       "#YourChan"
set variables(REQUEST)      "%releasename %u_name %g_name %u_tagline"
set variables(REQFILLED)    "%releasename %u_name %g_name %u_tagline %u_requester"
set variables(REQNEW1)      "%releasename %num %username"
set variables(REQNEW2)      "%releasename %num %username %for"
set variables(REQDEL)       "%releasename %num %username"
set variables(REQWIPE)      "%releasename %num %username"
set variables(REQFILL)      "%releasename %num %username"
